{% extends 'layout.twig' %}

{% block body %}

<!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand mx-3" href="admin/dashboard">We Care</a>
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav mx-3">
        <li class="nav-item"><a class="nav-link" href="/auth/logout">Logout</a></li>
      </ul>
    </div>
  </nav>

  <!-- Título Principal -->
  <div class="jumbotron text-center bg-primary text-white">
    <h1>Welcome to We Care Admin!</h1>
  </div>

  <div class="container mt-5 px-5">
    <h1>Create New User</h1>
    <form action="/admin/users" method="POST">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <div class="form-group">
            <label for="role">Role</label>
            <select class="form-control" id="role" name="role">
                <option value="autor">Author</option>
                <option value="administrador">Administrator</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Create User</button>
    </form>
   </div>
{% endblock %}
