{% extends 'layout.twig' %}

{% block body %}
  <h1>{{ title }}</h1>
  <form method="POST">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input id="nombre" name="nombre" type="text" required>
    </div>
    
    <div class="form-group">
      <label for="apellidos">Apellidos:</label>
      <input id="apellidos" name="apellidos" type="text" required>
    </div>
    
    <div class="form-group">
      <label for="telefonoCasa">Teléfono de la Casa:</label>
      <input id="telefonoCasa" name="telefonoCasa" type="text">
    </div>
    
    <div class="form-group">
      <label for="direccionCasa">Dirección de la Casa:</label>
      <input id="direccionCasa" name="direccionCasa" type="text">
    </div>
    
    <div class="form-group">
      <label for="telefonoTrabajo">Teléfono del Trabajo:</label>
      <input id="telefonoTrabajo" name="telefonoTrabajo" type="text">
    </div>
    
    <div class="form-group">
      <label for="direccionTrabajo">Dirección del Trabajo:</label>
      <input id="direccionTrabajo" name="direccionTrabajo" type="text">
    </div>
    
    <div class="form-group-full">
      <label for="correoElectronico">Correo Electrónico:</label>
      <input id="correoElectronico" name="correoElectronico" type="email" required>
    </div>
    
    <div class="form-group-full">
      <button type="submit">Guardar</button>
    </div>
  </form>
{% endblock %}
